<h1>Cocktails</h1>
<div class="container">
  <div class="row">
    <%  @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <ul>
          <% cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary btn-sm' %>
</div>
